<nav class="side-navbar">
    <ul class="list-unstyled">
        <li><a href="{{ path('admin') }}"> <i class="icon-home"></i>На главную </a></li>
        <li><a href="{{ path('locale_main') }}"> <i class="icon-grid"></i>Языки </a></li>
        <li><a href="{{ path('category_main') }}"> <i class="fa fa-bar-chart"></i>Типы проектов</a></li>
        <li><a href="{{ path('project_main') }}"> <i class="icon-padnote"></i>Портфолио</a></li>
        <li><a href="{{ path('service_main') }}"> <i class="icon-padnote"></i>Услуги</a></li>
    </ul>
</nav>