<nav class="side-navbar">
    <ul class="list-unstyled">
        <li><a href="{{ path('show_mails') }}"> <i class="icon-mail"></i>Заявки</a></li>
        <li><a href="{{ path('locale_main') }}"> <i class="icon-grid"></i>Языки </a></li>
        <li><a href="{{ path('category_main') }}"> <i class="fa fa-bar-chart"></i>Типы проектов</a></li>
        <li><a href="{{ path('project_main') }}"> <i class="icon-presentation"></i>Портфолио</a></li>
        <li><a href="{{ path('service_main') }}"> <i class="icon-padnote"></i>Услуги</a></li>
        <li><a href="{{ path('blog_main') }}"> <i class="icon-page"></i>Блог</a></li>
    </ul>
</nav>